[Desktop Entry]
Type=Service
Name=Ethicle
Name[ar]=Ethicle
Name[ast]=Ethicle
Name[bg]=Ethicle
Name[bn]=এথিকল
Name[bs]=Etikl
Name[ca]=Ethicle
Name[ca@valencia]=Ethicle
Name[cs]=Ethicle
Name[csb]=Ethicle
Name[da]=Ethicle
Name[de]=Ethicle
Name[el]=Ethicle
Name[en_GB]=Ethicle
Name[eo]=Etiklo
Name[es]=Ethicle
Name[et]=Ethicle
Name[eu]=Ethicle
Name[fa]=Ethicle
Name[fi]=Ethicle
Name[fr]=Ethicle
Name[fy]=Ethicle
Name[ga]=Ethicle
Name[gl]=Ethicle
Name[gu]=ઇથિકલ
Name[he]=Ethicle
Name[hi]=एथिकल
Name[hr]=Ethicle
Name[hu]=Ethicle
Name[ia]=Ethicle
Name[id]=Ethicle
Name[is]=Ethicle
Name[it]=Ethicle
Name[ja]=Ethicle
Name[kk]=Ethicle
Name[km]=Ethicle
Name[kn]=ಎತಿಕಲ್
Name[ko]=Ethicle
Name[lt]=Ethicle
Name[lv]=Ethicle
Name[mai]=एथिकल
Name[ml]=ഇത്തിക്കിള്‍
Name[mr]=एथिकल
Name[nb]=Ethicle
Name[nds]=Ethicle
Name[nl]=Ethisch
Name[nn]=Ethicle
Name[pa]=ਇਥੀਕਲੀ
Name[pl]=Ethicle
Name[pt]=Ethicle
Name[pt_BR]=Ethicle
Name[ro]=Ethicle
Name[ru]=Ethicle
Name[si]=Ethicle
Name[sk]=Ethicle
Name[sl]=Ethicle
Name[sr]=Етикл
Name[sr@ijekavian]=Етикл
Name[sr@ijekavianlatin]=Ethicle
Name[sr@latin]=Ethicle
Name[sv]=Ethicle
Name[tg]=Ethicle
Name[th]=บริการค้นหา Ethicle
Name[tr]=Ethicle
Name[ug]=Ethicle
Name[uk]=Ethicle
Name[vi]=Ethicle
Name[wa]=Ethicle
Name[x-test]=xxEthiclexx
Name[zh_CN]=Ethicle
Name[zh_TW]=Ethicle
X-KDE-ServiceTypes=SearchProvider
Keys=et,ethicle
Query=https://www.ecosia.org/search?q=\\{@}
Query[x-test]=xxhttps://www.ecosia.org/search?q=\\{@}xx
