[Desktop Entry]
Keys=qwn
Name=Qwant News
Name[ca]=Notícies a Qwant
Name[cs]=Qwant - Novinky
Name[da]=Qwant News
Name[de]=Qwant-Nachrichten
Name[en_GB]=Qwant News
Name[es]=Qwant Noticias
Name[et]=Qwant News
Name[fi]=Qwant-uutiset
Name[ia]=Qwant News (Novas de Qwant)
Name[it]=Notizie di Qwant
Name[nds]=Qwant-Narichten
Name[nl]=Qwant nieuws
Name[pl]=Qwant - aktualności
Name[pt]=Notícias do Qwant
Name[pt_BR]=Notícias do Qwant
Name[ru]=Qwant: Новости
Name[sk]=Qwant Novinky 
Name[sr]=Квант-вести
Name[sr@ijekavian]=Квант-вести
Name[sr@ijekavianlatin]=Qwant-vesti
Name[sr@latin]=Qwant-vesti
Name[sv]=Qwant-nyheter
Name[uk]=Новини Qwant
Name[x-test]=xxQwant Newsxx
Name[zh_TW]=Qwant News
Query=https://www.qwant.com/?q=\\{@}&t=news
Query[x-test]=xxhttps://www.qwant.com/?q=\\{@}&t=newsxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
