[Desktop Entry]
Keys=qwv
Name=Qwant Videos
Name[ca]=Vídeos a Qwant
Name[cs]=Qwant - Videa
Name[da]=Qwant Videos
Name[de]=Qwant-Videos
Name[en_GB]=Qwant Videos
Name[es]=Qwant Vídeos
Name[et]=Qwant Videos
Name[fi]=Qwant-videohaku
Name[ia]=Qwant Video
Name[it]=Video di Qwant
Name[nds]=Qwant-Videos
Name[nl]=Qwant video's
Name[pl]=Qwant - wideo
Name[pt]=Vídeos do Qwant
Name[pt_BR]=Vídeos do Qwant
Name[ru]=Qwant: Видео
Name[sk]=Qwant videá
Name[sr]=Квант-видео
Name[sr@ijekavian]=Квант-видео
Name[sr@ijekavianlatin]=Qwant-video
Name[sr@latin]=Qwant-video
Name[sv]=Qwant-videor
Name[uk]=Відео Qwant
Name[x-test]=xxQwant Videosxx
Name[zh_TW]=Qwant Videos
Query=https://www.qwant.com/?q=\\{@}&t=videos
Query[x-test]=xxhttps://www.qwant.com/?q=\\{@}&t=videosxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
