[Desktop Entry]
Keys=qw
Name=Qwant
Name[ca]=Qwant
Name[cs]=Qwant
Name[da]=Qwant
Name[de]=Qwant
Name[en_GB]=Qwant
Name[es]=Qwant
Name[et]=Qwant
Name[fi]=Qwant
Name[ia]=Qwant
Name[it]=Qwant
Name[nds]=Qwant
Name[nl]=Qwant
Name[pl]=Qwant
Name[pt]=Qwant
Name[pt_BR]=Qwant
Name[ru]=Qwant
Name[sk]=Qwant
Name[sr]=Квант
Name[sr@ijekavian]=Квант
Name[sr@ijekavianlatin]=Qwant
Name[sr@latin]=Qwant
Name[sv]=Qwant
Name[uk]=Qwant
Name[x-test]=xxQwantxx
Name[zh_TW]=Qwant
Query=https://www.qwant.com/?q=\\{@}&t=web
Query[x-test]=xxhttps://www.qwant.com/?q=\\{@}&t=webxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
