[Desktop Entry]
Keys=qwi
Name=Qwant Images
Name[ca]=Imatges a Qwant
Name[cs]=Qwant - Obrázky
Name[da]=Qwant Images
Name[de]=Qwant-Bilder
Name[en_GB]=Qwant Images
Name[es]=Qwant Imágenes
Name[et]=Qwant Images
Name[fi]=Qwant-kuvahaku
Name[ia]=Qwant Images
Name[it]=Immagini di Qwant
Name[nds]=Qwant-Biller
Name[nl]=Qwant afbeeldingen
Name[pl]=Qwant - obrazy
Name[pt]=Imagens do Qwant
Name[pt_BR]=Imagens do Qwant
Name[ru]=Qwant: Изображения
Name[sk]=Qwant obrázky
Name[sr]=Квант-слике
Name[sr@ijekavian]=Квант-слике
Name[sr@ijekavianlatin]=Qwant-slike
Name[sr@latin]=Qwant-slike
Name[sv]=Qwant-bilder
Name[uk]=Зображення Qwant
Name[x-test]=xxQwant Imagesxx
Name[zh_TW]=Qwant Images
Query=https://www.qwant.com/?q=\\{@}&t=images
Query[x-test]=xxhttps://www.qwant.com/?q=\\{@}&t=imagesxx
X-KDE-ServiceTypes=SearchProvider
Type=Service
