[Desktop Entry]
Keys=sf,sourceforge
Name=SourceForge
Name[af]=Sourceforge
Name[ar]=SourceForge
Name[as]=SourceForge
Name[ast]=SourceForge
Name[be]=SourceForge
Name[be@latin]=SourceForge
Name[bg]=SourceForge
Name[bn]=সোর্স-ফর্জ
Name[bn_IN]=SourceForge
Name[br]=SourceForge
Name[bs]=Sorsfordž
Name[ca]=SourceForge
Name[ca@valencia]=SourceForge
Name[cs]=SourceForge
Name[csb]=SourceForge - ùdbë
Name[cy]=SourceForge
Name[da]=SourceForge
Name[de]=SourceForge
Name[el]=SourceForge
Name[en_GB]=SourceForge
Name[eo]=SourceForge
Name[es]=SourceForge
Name[et]=SourceForge
Name[eu]=SourceForge
Name[fa]=سورس فرج
Name[fi]=SourceForge
Name[fr]=Sourceforge
Name[fy]=SourceForge
Name[ga]=SourceForge
Name[gl]=SourceForge
Name[gu]=સોર્સફોર્જ
Name[he]=SourceForge
Name[hi]=सोर्स-फोर्ज
Name[hne]=सोर्स-फोर्ज
Name[hr]=SourceForge
Name[hsb]=SourceForge
Name[hu]=SourceForge
Name[ia]=SourceForge
Name[id]=SourceForge
Name[is]=SourceForge
Name[it]=SourceForge
Name[ja]=SourceForge
Name[ka]=SourceForge
Name[kk]=SourceForge
Name[km]=SourceForge
Name[kn]=ಸೋರ್ಸ್ ಫೋರ್ಜ್
Name[ko]=SourceForge
Name[ku]=SourceForge
Name[lt]=SourceForge
Name[lv]=SourceForge
Name[mai]=सोर्स-फोर्ज
Name[mk]=SourceForge
Name[ml]=സോഴ്സ്ഫോര്‍ജ്
Name[mr]=सोर्सफोर्ज
Name[ms]=SourceForge
Name[nb]=SourceForge
Name[nds]=SourceForge
Name[ne]=सोर्स फर्ज
Name[nl]=SourceForge
Name[nn]=SourceForge
Name[or]=SourceForge
Name[pa]=SourceForge
Name[pl]=SourceForge - projekty
Name[pt]=SourceForge
Name[pt_BR]=SourceForge
Name[ro]=SourceForge
Name[ru]=SourceForge
Name[se]=SourceForge
Name[si]=SourceForge
Name[sk]=SourceForge
Name[sl]=SourceForge
Name[sr]=Сорсфорџ
Name[sr@ijekavian]=Сорсфорџ
Name[sr@ijekavianlatin]=SourceForge
Name[sr@latin]=SourceForge
Name[sv]=SourceForge
Name[ta]=மூலத்திருட்டு
Name[te]=సొర్స్ ఫొర్జ్
Name[tg]=SourceForge
Name[th]=SourceForge
Name[tr]=SourceForge
Name[ug]=SourceForge
Name[uk]=SourceForge
Name[uz]=SourceForge
Name[uz@cyrillic]=SourceForge
Name[vi]=SourceForge
Name[wa]=SourceForge
Name[xh]=SourceForge
Name[x-test]=xxSourceForgexx
Name[zh_CN]=SourceForge
Name[zh_TW]=SourceForge
Query=https://sourceforge.net/directory/?q=\\{@}
Query[af]=https://sourceforge.net/directory/?q=\\{@}
Query[ar]=https://sourceforge.net/directory/?q=\\{@}
Query[as]=https://sourceforge.net/directory/?q=\\{@}
Query[ast]=https://sourceforge.net/directory/?q=\\{@}
Query[be]=https://sourceforge.net/directory/?q=\\{@}
Query[be@latin]=https://sourceforge.net/directory/?q=\\{@}
Query[bg]=https://sourceforge.net/directory/?q=\\{@}
Query[bn]=https://sourceforge.net/directory/?q=\\{@}
Query[bn_IN]=https://sourceforge.net/directory/?q=\\{@}
Query[bs]=https://sourceforge.net/directory/?q=\\{@}
Query[ca]=https://sourceforge.net/directory/?q=\\{@}
Query[ca@valencia]=https://sourceforge.net/directory/?q=\\{@}
Query[cs]=https://sourceforge.net/directory/?q=\\{@}
Query[csb]=https://sourceforge.net/directory/?q=\\{@}
Query[da]=https://sourceforge.net/directory/?q=\\{@}
Query[de]=https://sourceforge.net/directory/?q=\\{@}
Query[el]=https://sourceforge.net/directory/?q=\\{@}
Query[en_GB]=https://sourceforge.net/directory/?q=\\{@}
Query[eo]=https://sourceforge.net/directory/?q=\\{@}
Query[es]=https://sourceforge.net/directory/?q=\\{@}
Query[et]=https://sourceforge.net/directory/?q=\\{@}
Query[eu]=https://sourceforge.net/directory/?q=\\{@}
Query[fa]=https://sourceforge.net/directory/?q=\\{@}
Query[fi]=https://sourceforge.net/directory/?q=\\{@}
Query[fr]=https://sourceforge.net/directory/?q=\\{@}
Query[fy]=https://sourceforge.net/directory/?q=\\{@}
Query[ga]=https://sourceforge.net/directory/?q=\\{@}
Query[gl]=https://sourceforge.net/directory/?q=\\{@}
Query[gu]=https://sourceforge.net/directory/?q=\\{@}
Query[he]=https://sourceforge.net/directory/?q=\\{@}
Query[hi]=https://sourceforge.net/directory/?q=\\{@}
Query[hne]=https://sourceforge.net/directory/?q=\\{@}
Query[hr]=https://sourceforge.net/directory/?q=\\{@}
Query[hsb]=https://sourceforge.net/directory/?q=\\{@}
Query[hu]=https://sourceforge.net/directory/?q=\\{@}
Query[ia]=https://sourceforge.net/directory/?q=\\{@}
Query[id]=https://sourceforge.net/directory/?q=\\{@}
Query[is]=https://sourceforge.net/directory/?q=\\{@}
Query[it]=https://sourceforge.net/directory/?q=\\{@}
Query[ja]=https://sourceforge.net/directory/?q=\\{@}
Query[kk]=https://sourceforge.net/directory/?q=\\{@}
Query[km]=https://sourceforge.net/directory/?q=\\{@}
Query[kn]=https://sourceforge.net/directory/?q=\\{@}
Query[ko]=https://sourceforge.net/directory/?q=\\{@}
Query[ku]=https://sourceforge.net/directory/?q=\\{@}
Query[lt]=https://sourceforge.net/directory/?q=\\{@}
Query[lv]=https://sourceforge.net/directory/?q=\\{@}
Query[mai]=https://sourceforge.net/directory/?q=\\{@}
Query[ml]=https://sourceforge.net/directory/?q=\\{@}
Query[mr]=https://sourceforge.net/directory/?q=\\{@}
Query[nb]=https://sourceforge.net/directory/?q=\\{@}
Query[nds]=https://sourceforge.net/directory/?q=\\{@}
Query[ne]=https://sourceforge.net/directory/?q=\\{@}
Query[nl]=https://sourceforge.net/directory/?q=\\{@}
Query[nn]=https://sourceforge.net/directory/?q=\\{@}
Query[oc]=https://sourceforge.net/directory/?q=\\{@}
Query[or]=https://sourceforge.net/directory/?q=\\{@}
Query[pa]=https://sourceforge.net/directory/?q=\\{@}
Query[pl]=https://sourceforge.net/directory/?q=\\{@}
Query[pt]=https://sourceforge.net/directory/?q=\\{@}
Query[pt_BR]=https://sourceforge.net/directory/?q=\\{@}
Query[ro]=https://sourceforge.net/directory/?q=\\{@}
Query[ru]=https://sourceforge.net/directory/?q=\\{@}
Query[se]=https://sourceforge.net/directory/?q=\\{@}
Query[si]=https://sourceforge.net/directory/?q=\\{@}
Query[sk]=https://sourceforge.net/directory/?q=\\{@}
Query[sl]=https://sourceforge.net/directory/?q=\\{@}
Query[sr]=https://sourceforge.net/directory/?q=\\{@}
Query[sr@ijekavian]=https://sourceforge.net/directory/?q=\\{@}
Query[sr@ijekavianlatin]=https://sourceforge.net/directory/?q=\\{@}
Query[sr@latin]=https://sourceforge.net/directory/?q=\\{@}
Query[sv]=https://sourceforge.net/directory/?q=\\{@}
Query[ta]=https://sourceforge.net/directory/?q=\\{@}
Query[te]=https://sourceforge.net/directory/?q=\\{@}
Query[tg]=https://sourceforge.net/directory/?q=\\{@}
Query[th]=https://sourceforge.net/directory/?q=\\{@}
Query[tr]=https://sourceforge.net/directory/?q=\\{@}
Query[ug]=https://sourceforge.net/directory/?q=\\{@}
Query[uk]=https://sourceforge.net/directory/?q=\\{@}
Query[uz]=https://sourceforge.net/directory/?q=\\{@}
Query[uz@cyrillic]=https://sourceforge.net/directory/?q=\\{@}
Query[vi]=https://sourceforge.net/directory/?q=\\{@}
Query[wa]=https://sourceforge.net/directory/?q=\\{@}
Query[x-test]=xxhttps://sourceforge.net/directory/?q=\\{@}xx
Query[zh_CN]=https://sourceforge.net/directory/?q=\\{@}
Query[zh_TW]=https://sourceforge.net/directory/?q=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
