[Desktop Entry]
Charset=
Hidden=false
Keys=yahoovideo,yhv
Name=Yahoo Video
Name[ar]=فيديو ياهو
Name[ast]=Yahoo Videu
Name[bg]=Видео в Yahoo
Name[bn]=ইয়াহু ভিডিও
Name[bs]=Jahu‑video
Name[ca]=Vídeo de Yahoo
Name[ca@valencia]=Yahoo Video
Name[cs]=Video Yahoo
Name[da]=Yahoo Video
Name[de]=Yahoo Video
Name[el]=Yahoo Βίντεο
Name[en_GB]=Yahoo Video
Name[eo]=Videoj de Jahuo
Name[es]=Yahoo Vídeo
Name[et]=Yahoo Video
Name[eu]=Yahoo Video
Name[fa]=ویدیوهای یاهو
Name[fi]=Yahoon videohaku
Name[fr]=Vidéos « Yahoo »
Name[ga]=Fís Yahoo
Name[gl]=Yahoo Video
Name[gu]=યાહુ વિડીઓ
Name[he]=Yahoo וידאו
Name[hi]=याहू विडियो
Name[hr]=Yahoo Video
Name[hu]=Yahoo Video
Name[ia]=Yahoo Video
Name[id]=Yahoo Video
Name[is]=Yahoo vídeó
Name[it]=Video di Yahoo
Name[ja]=Yahoo Video
Name[kk]=Yahoo видео
Name[km]=វីដេអូ​របស់យ៉ាហ៊ូ
Name[kn]=ಯಾಹೂ‌ ವೀಡಿಯೊ
Name[ko]=Yahoo 동영상
Name[lt]=Yahoo Video
Name[lv]=Yahoo video
Name[ml]=യാഹൂ വീഡിയോ
Name[mr]=याहू व्हिडीओ
Name[nb]=Yahoo Video
Name[nds]=Yahoo - Video
Name[nl]=Yahoo Video
Name[nn]=Yahoo Video
Name[pa]=ਯਾਹੂ ਵਿਡੀਓ
Name[pl]=Yahoo - wideo
Name[pt]=Vídeos do Yahoo
Name[pt_BR]=Vídeos do Yahoo
Name[ro]=Yahoo Video
Name[ru]=Yahoo: Видео
Name[si]=Yahoo වීඩියෝ
Name[sk]=Yahoo videá
Name[sl]=Yahoo - video
Name[sr]=Јаху‑видео
Name[sr@ijekavian]=Јаху‑видео
Name[sr@ijekavianlatin]=Yahoo Video
Name[sr@latin]=Yahoo Video
Name[sv]=Yahoo video
Name[tg]=Видеоҳои Yahoo
Name[th]=Yahoo Video
Name[tr]=Yahoo Video
Name[ug]=ياخۇ سىنى
Name[uk]=Відео Yahoo
Name[vi]=Yahoo Phim
Name[wa]=Yahoo Videyo
Name[x-test]=xxYahoo Videoxx
Name[zh_CN]=Yahoo 视频
Name[zh_TW]=Yahoo Video
Query=https://video.search.yahoo.com/search/video?p=\\{@}
Query[x-test]=xxhttps://video.search.yahoo.com/search/video?p=\\{@}xx
ServiceTypes=SearchProvider
Type=Service
