[Desktop Entry]
Exec=gears
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
TryExec=xscreensaver
Actions=Setup;InWindow;Root;
X-KDE-Category=OpenGL Screen Savers
X-KDE-Type=OpenGL
Name=Gears (GL)
Name[af]=Ratte (Gl)
Name[ast]=Engranaxes (GL)
Name[bg]=Gears (GL)
Name[br]=Rodeg (GL)
Name[bs]=Zupčanici (GL)
Name[ca]=Engranatges (GL)
Name[ca@valencia]=Engranatges (GL)
Name[cs]=Soukolí (GL)
Name[cy]=Gerau (GL)
Name[da]=Gear (GL)
Name[de]=Zahnräder
Name[el]=Gears (GL)
Name[en_GB]=Gears (GL)
Name[eo]=Radoj (GL)
Name[es]=Engranajes (GL)
Name[et]=Hammasrattad (GL)
Name[eu]=Makineria (GL)
Name[fa]=دنده‌ها (GL)
Name[fi]=Hammasrattaat (GL)
Name[fr]=Engrenages (GL)
Name[fy]=Gears (GL)
Name[ga]=Gears (GL)
Name[gl]=Engrenaxes (GL)
Name[he]=גלגלי שיניים (GL)
Name[hne]=गरारी (जीएल)
Name[hu]=Fogaskerekek (OpenGL)
Name[is]=Gírar (GL)
Name[it]=Ingranaggi
Name[ja]=ギア (GL)
Name[kk]=Тістегіршектер (GL)
Name[ko]=기어(GL)
Name[lt]=Mechanizmai (GL)
Name[lv]=Zobrati (GL)
Name[mk]=Запчаници (GL)
Name[ml]=ഗിയറുകള്‍ (ജിഎല്‍)
Name[ms]=Gears (GL)
Name[nb]=Gir (GL)
Name[nds]=Tahnrööd (GL)
Name[ne]=गेयर (जीएल)
Name[nl]=Gears (GL)
Name[nn]=Tannhjul (GL)
Name[pa]=ਗੇਅਰ (GL)
Name[pl]=Trybiki (GL)
Name[pt]=Engrenagens (GL)
Name[pt_BR]=Engrenagens (GL)
Name[ro]=Cuplaj (GL)
Name[ru]=Шестерёнки (GL)
Name[sk]=Prístroje (GL)
Name[sl]=Zobniki (GL)
Name[sq]=Gears (GL)
Name[sr]=Зупчаници
Name[sr@ijekavian]=Зупчаници
Name[sr@ijekavianlatin]=Zupčanici
Name[sr@latin]=Zupčanici
Name[sv]=Kugghjul (GL)
Name[ta]=பல்சக்கரங்கள் (GL)
Name[tg]=Чархи дандонадор (GL)
Name[th]=ฟันเฟือง (GL)
Name[tr]=Dişliler (GL)
Name[uk]=Пристрої (GL)
Name[vi]=Bánh răng (GL)
Name[xh]=Izixhobo Zemoto (GL)
Name[x-test]=xxGears (GL)xx
Name[zh_CN]=齿轮(GL)
Name[zh_TW]=齒輪 (GL)

[Desktop Action Setup]
Exec=kxsconfig gears
Name=Setup...
Name[af]=Opstelling...
Name[ast]=Configuración...
Name[bg]=Настройки...
Name[br]=Kefluniadur ...
Name[bs]=Podesi...
Name[ca]=Arranjament...
Name[ca@valencia]=Arranjament...
Name[cs]=Nastavení...
Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung ...
Name[el]=Ρύθμιση...
Name[en_GB]=Setup...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistamine...
Name[eu]=Konfiguratu...
Name[fa]=برپایی...
Name[fi]=Asetukset…
Name[fr]=Configuration...
Name[fy]=Opset...
Name[ga]=Socrú...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hne]=सेटअप...
Name[hr]=Postavke …
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=設定...
Name[kk]=Баптау...
Name[ko]=설정...
Name[lt]=Sąranka ...
Name[lv]=Iestatījumi...
Name[mai]=सेटअप...
Name[mk]=Поставување...
Name[ml]=ഒരുക്കം...
Name[mr]=संयोजना ...
Name[ms]=Setkan...
Name[nb]=Innstillinger …
Name[nds]=Instellen...
Name[ne]=सेटअप...
Name[nl]=Instellingen...
Name[nn]=Oppsett …
Name[pa]=ਸੈਟਅੱਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Configurare...
Name[ru]=Настройка...
Name[sk]=Nastavenie...
Name[sl]=Nastavi ...
Name[sq]=Instalimi...
Name[sr]=Подеси...
Name[sr@ijekavian]=Подеси...
Name[sr@ijekavianlatin]=Podesi...
Name[sr@latin]=Podesi...
Name[sv]=Inställningar...
Name[ta]=அமைப்பு...
Name[tg]=Барпосозӣ...
Name[th]=ตั้งค่า...
Name[tr]=Kurulum...
Name[ug]=ئورنات…
Name[uk]=Встановити...
Name[uz]=Oʻrnatish
Name[uz@cyrillic]=Ўрнатиш
Name[vi]=Thiết lập...
Name[xh]=Iyacwangciswa...
Name[x-test]=xxSetup...xx
Name[zh_CN]=设置...
Name[zh_TW]=設定...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=kxsrun gears -- -window-id %w
Name=Display in Specified Window
Name[ast]=Amosar na ventana especificada
Name[bg]=Показване в избран прозорец
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u određenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[ca@valencia]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In bestimmten Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[en_GB]=Display in Specified Window
Name[eo]=Montri en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Bistaratu zehaztutako lehioan
Name[fa]=نمایش در پنجره مشخص‌شده
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[fy]=Werjefte yn in definiearre finster
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[gl]=Mostrar na xanela indicada
Name[he]=הצג בחלון המצוין
Name[hne]=निरधारित विंडो मं देखाव
Name[hr]=Prikaži u određenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=指定したウィンドウで表示
Name[kk]=Келтірілген терезеде көрсетілсін
Name[ko]=지정한 창에 보이기
Name[lt]=Rodyti nurodytame lange
Name[lv]=Rādīt norādītajā logā
Name[mai]=निर्दिष्ट विंडो मे प्रदर्शित करू
Name[mk]=Прикажи во наведениот прозорец
Name[ml]=പ്രത്യേകം പറഞ്ഞിരിക്കുന്ന ജാലകത്തില്‍ പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=निर्देशीत चौकटीत दर्शवा
Name[ms]=Papar dalam Tetingkap Yang Dinyatakan
Name[nb]=Vis i angitt vindu
Name[nds]=In utsöcht Finster wiesen
Name[ne]=निर्दिष्ट सञ्झ्यालमा प्रदर्शन
Name[nl]=Weergeven In een opgegeven venster
Name[nn]=Vis i oppgjeve vindauge
Name[pa]=ਦੱਸੇ ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Exibir na janela indicada
Name[ro]=Afișează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Pokaži v določenem oknu
Name[sq]=Shfaq në Dritaren e Specifikuar
Name[sr]=Прикажи у задатом прозору
Name[sr@ijekavian]=Прикажи у задатом прозору
Name[sr@ijekavianlatin]=Prikaži u zadatom prozoru
Name[sr@latin]=Prikaži u zadatom prozoru
Name[sv]=Visa i angivet fönster
Name[ta]=குறித்த சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи нишондода намоиш намоед
Name[th]=แสดงในหน้าต่างที่กำหนด
Name[tr]=Belirtilen Pencerede Göster
Name[ug]=بەلگىلەنگەن كۆزنەكتە كۆرسەت
Name[uk]=Відобразити у вказаному вікні
Name[vi]=Hiển thị trong Cửa sổ Đã định
Name[x-test]=xxDisplay in Specified Windowxx
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
NoDisplay=true

[Desktop Action Root]
Exec=kxsrun gears -- -root
Name=Display in Root Window
Name[ast]=Amosar na ventana raíz
Name[bg]=Показване в главния прозорец
Name[br]=Diskwel er prenestr gwrizienn
Name[bs]=Prikaži u korijenom prozoru
Name[ca]=Mostra a la finestra arrel
Name[ca@valencia]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Visning i root-vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[en_GB]=Display in Root Window
Name[eo]=Montri en radika fenestro
Name[es]=Mostrar en la ventana raíz
Name[et]=Juuraknas näitamine
Name[eu]=Bistaratu erro lehioan
Name[fa]=نمایش در پنجره ریشه
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[fy]=Werjefte yn haadfinster
Name[ga]=Taispeáin sa Phríomhfhuinneog
Name[gl]=Mostrar na xanela raíz
Name[he]=הצג בחלון השורש
Name[hne]=रूट विंडो मं देखाव
Name[hr]=Prikaži u ishodišnom prozoru
Name[hu]=Megjelenítés a gyökérablakban
Name[is]=Birta í rótarglugganum
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[kk]=Түбір терезесінде көрсетілсін
Name[ko]=전체 화면으로 보이기
Name[lt]=Rodyti root lange
Name[lv]=Rādīt saknes logā
Name[mai]=रूट विंडो मे प्रदर्शित करू
Name[mk]=Прикажи во коренскиот прозорец
Name[ml]=മൂല ജാലകത്തില്‍ പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=रूट चौकट मध्ये दर्शवा
Name[ms]=Papar dalam Tetingkap Root
Name[nb]=Vis i root-vindu
Name[nds]=In Hööftfinster wiesen
Name[ne]=मूल सञ्झ्यालमा प्रदर्शन
Name[nl]=Weergeven in hoofdvenster
Name[nn]=Vis i rotvindauget
Name[pa]=Root ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w oknie głównym
Name[pt]=Mostrar na Janela de Fundo
Name[pt_BR]=Exibir na janela raiz
Name[ro]=Afișează în fereastra rădăcină
Name[ru]=Показывать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Pokaži v določenem oknu
Name[sq]=Shfaq në Dritaren Bazë
Name[sr]=Прикажи у кореном прозору
Name[sr@ijekavian]=Прикажи у корјеном прозору
Name[sr@ijekavianlatin]=Prikaži u korjenom prozoru
Name[sr@latin]=Prikaži u korenom prozoru
Name[sv]=Visa i rotfönstret
Name[ta]=ஆரம்ப சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи решагӣ намоиш намоед
Name[th]=แสดงในหน้าต่างราก
Name[tr]=Kök Pencerede Göster
Name[ug]=غول كۆزنەكتە كۆرسەت
Name[uk]=Відобразити в кореневому вікні
Name[vi]=Hiển thị trong Cửa sổ Gốc
Name[x-test]=xxDisplay in Root Windowxx
Name[zh_CN]=在根窗口中显示
Name[zh_TW]=在根視窗中顯示
NoDisplay=true
