[Desktop Entry]
Exec=klines.kss
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
Actions=Setup;InWindow;Root;
X-KDE-Category=Flying Things
Name=Lines
Name[af]=Lyne
Name[ast]=Llinies
Name[bg]=Линии
Name[br]=Linennoù
Name[bs]=Linije
Name[ca]=Línies
Name[ca@valencia]=Línies
Name[cs]=Linie
Name[cy]=Llinellau
Name[da]=Linjer
Name[de]=Linien
Name[el]=Γραμμές
Name[en_GB]=Lines
Name[eo]=Linioj
Name[es]=Líneas
Name[et]=Jooned
Name[eu]=Lerroak
Name[fa]=خطوط
Name[fi]=Viivat
Name[fr]=Lignes
Name[fy]=Linen
Name[ga]=Línte
Name[gl]=Liñas
Name[he]=קווים
Name[hne]=पंक्तियाँ
Name[hu]=Vonalak
Name[is]=Línur
Name[it]=Linee
Name[ja]=線
Name[kk]=Сызықтар
Name[ko]=직선
Name[lt]=Linijos
Name[lv]=Līnijas
Name[mai]=रेखासभ
Name[mk]=Прави
Name[ml]=ലൈന്‍സ്
Name[mr]=ओळी
Name[ms]=Baris
Name[nb]=Linjer
Name[nds]=Lienen
Name[ne]=रेखा
Name[nl]=Lijnen
Name[nn]=Linjer
Name[oc]=Linhas
Name[pa]=ਲਾਇਨਾਂ
Name[pl]=Linie
Name[pt]=Linhas
Name[pt_BR]=Linhas
Name[ro]=Linii
Name[ru]=Линии
Name[sk]=Čiary
Name[sl]=Črte
Name[sq]=Vijat
Name[sr]=Линије
Name[sr@ijekavian]=Линије
Name[sr@ijekavianlatin]=Linije
Name[sr@latin]=Linije
Name[sv]=Linjer
Name[ta]=கம்பிகள்
Name[tg]=Рахҳо
Name[th]=เส้นตรง
Name[tr]=Çizgiler
Name[ug]=سىزىقلار
Name[uk]=Лінії
Name[uz]=Chiziqlar
Name[uz@cyrillic]=Чизиқлар
Name[vi]=Dòng kẻ
Name[xh]=Iilayini
Name[x-test]=xxLinesxx
Name[zh_CN]=线条
Name[zh_TW]=線條

[Desktop Action Setup]
Exec=klines.kss -setup
Name=Setup...
Name[af]=Opstelling...
Name[ast]=Configuración...
Name[bg]=Настройки...
Name[br]=Kefluniadur ...
Name[bs]=Podesi...
Name[ca]=Arranjament...
Name[ca@valencia]=Arranjament...
Name[cs]=Nastavení...
Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung ...
Name[el]=Ρύθμιση...
Name[en_GB]=Setup...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistamine...
Name[eu]=Konfiguratu...
Name[fa]=برپایی...
Name[fi]=Asetukset…
Name[fr]=Configuration...
Name[fy]=Opset...
Name[ga]=Socrú...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hne]=सेटअप...
Name[hr]=Postavke …
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=設定...
Name[kk]=Баптау...
Name[ko]=설정...
Name[lt]=Sąranka ...
Name[lv]=Iestatījumi...
Name[mai]=सेटअप...
Name[mk]=Поставување...
Name[ml]=ഒരുക്കം...
Name[mr]=संयोजना ...
Name[ms]=Setkan...
Name[nb]=Innstillinger …
Name[nds]=Instellen...
Name[ne]=सेटअप...
Name[nl]=Instellingen...
Name[nn]=Oppsett …
Name[pa]=ਸੈਟਅੱਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Configurare...
Name[ru]=Настройка...
Name[sk]=Nastavenie...
Name[sl]=Nastavi ...
Name[sq]=Instalimi...
Name[sr]=Подеси...
Name[sr@ijekavian]=Подеси...
Name[sr@ijekavianlatin]=Podesi...
Name[sr@latin]=Podesi...
Name[sv]=Inställningar...
Name[ta]=அமைப்பு...
Name[tg]=Барпосозӣ...
Name[th]=ตั้งค่า...
Name[tr]=Kurulum...
Name[ug]=ئورنات…
Name[uk]=Встановити...
Name[uz]=Oʻrnatish
Name[uz@cyrillic]=Ўрнатиш
Name[vi]=Thiết lập...
Name[xh]=Iyacwangciswa...
Name[x-test]=xxSetup...xx
Name[zh_CN]=设置...
Name[zh_TW]=設定...
Icon=preferences-desktop-screensaver

[Desktop Action InWindow]
Exec=klines.kss -window-id %w
Name=Display in Specified Window
Name[ast]=Amosar na ventana especificada
Name[bg]=Показване в избран прозорец
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u određenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[ca@valencia]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In bestimmten Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[en_GB]=Display in Specified Window
Name[eo]=Montri en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Bistaratu zehaztutako lehioan
Name[fa]=نمایش در پنجره مشخص‌شده
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[fy]=Werjefte yn in definiearre finster
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[gl]=Mostrar na xanela indicada
Name[he]=הצג בחלון המצוין
Name[hne]=निरधारित विंडो मं देखाव
Name[hr]=Prikaži u određenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=指定したウィンドウで表示
Name[kk]=Келтірілген терезеде көрсетілсін
Name[ko]=지정한 창에 보이기
Name[lt]=Rodyti nurodytame lange
Name[lv]=Rādīt norādītajā logā
Name[mai]=निर्दिष्ट विंडो मे प्रदर्शित करू
Name[mk]=Прикажи во наведениот прозорец
Name[ml]=പ്രത്യേകം പറഞ്ഞിരിക്കുന്ന ജാലകത്തില്‍ പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=निर्देशीत चौकटीत दर्शवा
Name[ms]=Papar dalam Tetingkap Yang Dinyatakan
Name[nb]=Vis i angitt vindu
Name[nds]=In utsöcht Finster wiesen
Name[ne]=निर्दिष्ट सञ्झ्यालमा प्रदर्शन
Name[nl]=Weergeven In een opgegeven venster
Name[nn]=Vis i oppgjeve vindauge
Name[pa]=ਦੱਸੇ ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Exibir na janela indicada
Name[ro]=Afișează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Pokaži v določenem oknu
Name[sq]=Shfaq në Dritaren e Specifikuar
Name[sr]=Прикажи у задатом прозору
Name[sr@ijekavian]=Прикажи у задатом прозору
Name[sr@ijekavianlatin]=Prikaži u zadatom prozoru
Name[sr@latin]=Prikaži u zadatom prozoru
Name[sv]=Visa i angivet fönster
Name[ta]=குறித்த சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи нишондода намоиш намоед
Name[th]=แสดงในหน้าต่างที่กำหนด
Name[tr]=Belirtilen Pencerede Göster
Name[ug]=بەلگىلەنگەن كۆزنەكتە كۆرسەت
Name[uk]=Відобразити у вказаному вікні
Name[vi]=Hiển thị trong Cửa sổ Đã định
Name[x-test]=xxDisplay in Specified Windowxx
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
NoDisplay=true

[Desktop Action Root]
Exec=klines.kss -root
Name=Display in Root Window
Name[ast]=Amosar na ventana raíz
Name[bg]=Показване в главния прозорец
Name[br]=Diskwel er prenestr gwrizienn
Name[bs]=Prikaži u korijenom prozoru
Name[ca]=Mostra a la finestra arrel
Name[ca@valencia]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Visning i root-vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[en_GB]=Display in Root Window
Name[eo]=Montri en radika fenestro
Name[es]=Mostrar en la ventana raíz
Name[et]=Juuraknas näitamine
Name[eu]=Bistaratu erro lehioan
Name[fa]=نمایش در پنجره ریشه
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[fy]=Werjefte yn haadfinster
Name[ga]=Taispeáin sa Phríomhfhuinneog
Name[gl]=Mostrar na xanela raíz
Name[he]=הצג בחלון השורש
Name[hne]=रूट विंडो मं देखाव
Name[hr]=Prikaži u ishodišnom prozoru
Name[hu]=Megjelenítés a gyökérablakban
Name[is]=Birta í rótarglugganum
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウで表示
Name[kk]=Түбір терезесінде көрсетілсін
Name[ko]=전체 화면으로 보이기
Name[lt]=Rodyti root lange
Name[lv]=Rādīt saknes logā
Name[mai]=रूट विंडो मे प्रदर्शित करू
Name[mk]=Прикажи во коренскиот прозорец
Name[ml]=മൂല ജാലകത്തില്‍ പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=रूट चौकट मध्ये दर्शवा
Name[ms]=Papar dalam Tetingkap Root
Name[nb]=Vis i root-vindu
Name[nds]=In Hööftfinster wiesen
Name[ne]=मूल सञ्झ्यालमा प्रदर्शन
Name[nl]=Weergeven in hoofdvenster
Name[nn]=Vis i rotvindauget
Name[pa]=Root ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w oknie głównym
Name[pt]=Mostrar na Janela de Fundo
Name[pt_BR]=Exibir na janela raiz
Name[ro]=Afișează în fereastra rădăcină
Name[ru]=Показывать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Pokaži v določenem oknu
Name[sq]=Shfaq në Dritaren Bazë
Name[sr]=Прикажи у кореном прозору
Name[sr@ijekavian]=Прикажи у корјеном прозору
Name[sr@ijekavianlatin]=Prikaži u korjenom prozoru
Name[sr@latin]=Prikaži u korenom prozoru
Name[sv]=Visa i rotfönstret
Name[ta]=ஆரம்ப சாளரத்தில் காட்டு
Name[tg]=Дар тирезаи решагӣ намоиш намоед
Name[th]=แสดงในหน้าต่างราก
Name[tr]=Kök Pencerede Göster
Name[ug]=غول كۆزنەكتە كۆرسەت
Name[uk]=Відобразити в кореневому вікні
Name[vi]=Hiển thị trong Cửa sổ Gốc
Name[x-test]=xxDisplay in Root Windowxx
Name[zh_CN]=在根窗口中显示
Name[zh_TW]=在根視窗中顯示
NoDisplay=true
X-DBUS-StartupType=Multi
