[Desktop Entry]
Name=Marco (MATE)
Name[af]=Marco (MATE)
Name[as]=Marco (MATE)
Name[ast]=Marco (MATE)
Name[be@latin]=Marco (MATE)
Name[bg]=Marco (MATE)
Name[bn_IN]=Marco (MATE)
Name[bs]=Marco (MATE)
Name[ca]=Marco (MATE)
Name[ca@valencia]=Marco (MATE)
Name[cs]=Marco (MATE)
Name[csb]=Marco (MATE)
Name[da]=Marco (MATE)
Name[de]=Marco (MATE)
Name[el]=Marco (MATE)
Name[en_GB]=Marco (MATE)
Name[eo]=Marco (MATE)
Name[es]=Marco (MATE)
Name[et]=Marco (MATE)
Name[eu]=Marco (MATE)
Name[fi]=Marco (MATE)
Name[fr]=Marco (MATE)
Name[fy]=Marco (MATE)
Name[ga]=Marco (MATE)
Name[gl]=Marco (MATE)
Name[he]=Marco (MATE)
Name[hr]=Marco (MATE)
Name[hsb]=Marco (MATE)
Name[hu]=Marco (MATE)
Name[ia]=Marco(MATE)
Name[id]=Marco (MATE)
Name[is]=Marco (MATE)
Name[it]=Marco (MATE)
Name[ja]=Marco (MATE)
Name[kk]=Marco (MATE)
Name[km]=Marco (MATE)
Name[ku]=Marco (MATE)
Name[lt]=Marco (MATE)
Name[lv]=Marco (MATE)
Name[mai]=Marco (MATE)
Name[mk]=Marco (MATE)
Name[nb]=Marco (MATE)
Name[nds]=Marco (MATE)
Name[nl]=Marco (MATE)
Name[nn]=Marco (MATE)
Name[or]=Marco (MATE)
Name[pl]=Marco (MATE)
Name[pt]=Marco (MATE)
Name[pt_BR]=Marco (MATE)
Name[ro]=Marco (MATE)
Name[ru]=Marco (MATE)
Name[se]=Marco (MATE)
Name[si]=Marco (MATE)
Name[sk]=Marco (MATE)
Name[sl]=Marco (MATE)
Name[sr]=Marco (MATE)
Name[sr@ijekavian]=Marco (MATE)
Name[sr@ijekavianlatin]=Marco (MATE)
Name[sr@latin]=Marco (MATE)
Name[sv]=Marco (MATE)
Name[tg]=Marco (MATE)
Name[th]=Marco (MATE)
Name[tr]=Marco (MATE)
Name[ug]=Marco (MATE)
Name[uk]=Marco (MATE)
Name[uz]=Marco (MATE)
Name[uz@cyrillic]=Marco (MATE)
Name[vi]=Marco (MATE)
Name[wa]=Marco (MATE)
Name[x-test]=xxMarco (MATE)xx
Name[zh_CN]=Marco(MATE)
Name[zh_TW]=Marco（MATE）
Exec=marco
TryExec=marco
