[Desktop Action driver]
Name=Driver
Name[ar]=المشغل
Name[ast]=Controlador
Name[bg]=Драйвер
Name[bn]=ড্রাইভার
Name[bs]=drajver
Name[ca]=Controlador
Name[ca@valencia]=Controlador
Name[cs]=Ovladač
Name[csb]=Czérownik
Name[da]=Driver
Name[de]=Treiber
Name[el]=Οδηγός
Name[en_GB]=Driver
Name[eo]=Pelilo
Name[es]=Controlador
Name[et]=Draiver
Name[eu]=Gidaria
Name[fa]=گرداننده
Name[fi]=Ajuri
Name[fr]=Pilote
Name[fy]=Stjoerprogramma
Name[ga]=Tiománaí
Name[gl]=Controlador
Name[gu]=ડ્રાઇવર
Name[he]=מנהל התקן
Name[hi]=ड्राईवर
Name[hr]=Pogonski program
Name[hu]=Meghajtó
Name[ia]=Driver
Name[id]=Penggerak
Name[is]=Rekill
Name[ja]=ドライバ
Name[ka]=დრაივერი
Name[kk]=Драйвері
Name[km]=កម្មវិធី​បញ្ជា
Name[kn]=ಚಾಲಕ
Name[ko]=드라이버
Name[lt]=Tvarkyklė
Name[lv]=Draiveris
Name[mai]=ड्राइवर
Name[mk]=Управувач
Name[ml]=സാരഥി
Name[mr]=ड्राइव्हर
Name[nb]=Driver
Name[nds]=Driever
Name[nl]=Stuurprogramma
Name[nn]=Drivar
Name[pa]=ਡਰਾਇਵਰ
Name[pl]=Sterownik
Name[pt]=Controlador
Name[pt_BR]=Driver
Name[ro]=Driver
Name[ru]=Драйвер
Name[si]=ධාවකය
Name[sk]=Ovládač
Name[sl]=Gonilnik
Name[sr]=драјвер
Name[sr@ijekavian]=драјвер
Name[sr@ijekavianlatin]=drajver
Name[sr@latin]=drajver
Name[sv]=Drivrutin
Name[tg]=Драйвер
Name[th]=ไดรเวอร์
Name[tr]=Sürücü
Name[ug]=قوزغاتقۇ
Name[uk]=Драйвер
Name[vi]=Trình điều khiển
Name[wa]=Mineu
Name[x-test]=xxDriverxx
Name[zh_CN]=驱动
Name[zh_TW]=驅動程式

[Desktop Entry]
Actions=driver;
Name=Solid Device
Name[ar]=جهاز في سوليد
Name[ast]=Preseos de Solid
Name[bn]=সলিড ডিভাইস
Name[bs]=uređaj pod Solidom
Name[ca]=Dispositiu del Solid
Name[ca@valencia]=Dispositiu del Solid
Name[cs]=Solid zařízení
Name[da]=Solid-enhed
Name[de]=Solid-Gerät
Name[el]=Συμπαγής συσκευή
Name[en_GB]=Solid Device
Name[eo]=Solid-aparatoj
Name[es]=Dispositivo de Solid
Name[et]=Solidi seade
Name[eu]=Solid gailua
Name[fi]=Kiinteä laite
Name[fr]=Périphérique Solid
Name[fy]=Solid apparaat
Name[ga]=Gléas Solid
Name[gl]=Dispositivo de Solid
Name[gu]=સોલિડ ઉપકરણ
Name[he]=התקן Solid
Name[hi]=सोलिड औज़ार
Name[hr]=Solid uređaj
Name[hu]=Solid eszköz
Name[ia]=Dispositivo Solid
Name[id]=Divais Solid
Name[is]=Solid tæki
Name[it]=Dispositivo di Solid
Name[ja]=Solid デバイス
Name[kk]=Solid құрылғысы
Name[km]=ឧបករណ៍​យូ​តាន់
Name[kn]=ಘನ ಸಾಧನ
Name[ko]=Solid 장치
Name[lt]=Solid įrenginys
Name[lv]=Solid ierīce
Name[mk]=Полупроводнички уред
Name[ml]=സോളിഡ് ഉപകരണം
Name[mr]=सॉलिड साधन
Name[nb]=Solid-enhet
Name[nds]=Solid-Reedschap
Name[nl]=Solid-apparaat
Name[nn]=Solid-eining
Name[pa]=ਸਾਲਡ ਜੰਤਰ
Name[pl]=Urządzenie Solid
Name[pt]=Dispositivo do Solid
Name[pt_BR]=Dispositivo do Solid
Name[ro]=Dispozitiv Solid
Name[ru]=Устройство Solid
Name[si]=දෘඩ මෙවලම්
Name[sk]=Zariadenie Solid
Name[sl]=Naprava Solid
Name[sr]=уређај под Солидом
Name[sr@ijekavian]=уређај под Солидом
Name[sr@ijekavianlatin]=uređaj pod Solidom
Name[sr@latin]=uređaj pod Solidom
Name[sv]=Solid-enhet
Name[tg]=Дастгоҳҳои ҷудошаванда
Name[th]=อุปกรณ์ผ่าน Solid
Name[tr]=Solid Aygıtı
Name[ug]=Solid ئۈسكۈنە
Name[uk]=Пристрій Solid
Name[wa]=Éndjins Solid
Name[x-test]=xxSolid Devicexx
Name[zh_CN]=Solid 设备
Name[zh_TW]=實體裝置
Type=Service
X-KDE-ServiceTypes=SolidDevice
X-KDE-Solid-Actions-Type=Graphic
