[Desktop Entry]
Name=Asciiquarium
Name[ast]=Asciiacuariu
Name[bg]=Текстов аквариум
Name[bs]=Asciiquarium
Name[ca]=Asciiquarium
Name[ca@valencia]=Asciiquarium
Name[cs]=ASCIIkvárium
Name[da]=Asciiquarium
Name[de]=Asciiquarium
Name[el]=Asciiquarium
Name[en_GB]=Asciiquarium
Name[es]=Acuario ascii
Name[et]=Asciiquarium
Name[eu]=Asciiquarium
Name[fi]=Asciiquarium
Name[fr]=Asciiquarium
Name[ga]=Asciiquarium
Name[gl]=Asciiquarium
Name[hne]=आस्कीक्वेरियम
Name[hu]=Asciiquarium
Name[is]=Asciiquarium
Name[it]=Asciiquario
Name[ja]=アスキー水族館
Name[kk]=Ascii-аквариум
Name[ko]=ASCII 수족관
Name[lt]=Asciikvariumas
Name[lv]=Asciikvārijs
Name[mk]=Ascii-аквариум
Name[ml]=ആസ്കിക്വേറിയം
Name[nb]=Asciikvarium
Name[nds]=Asciiquarium
Name[nl]=Asciiquarium
Name[nn]=Asciikvarium
Name[pl]=Asciiquarium
Name[pt]=Asciiquarium
Name[pt_BR]=Asciiquarium
Name[ro]=Asciicvariu
Name[ru]=Бумажный аквариум
Name[sk]=Asciiquarium
Name[sl]=Asciiquarium
Name[sq]=Asciiquarium
Name[sr]=Аскикваријум
Name[sr@ijekavian]=Аскикваријум
Name[sr@ijekavianlatin]=Asciiquarium
Name[sr@latin]=Asciiquarium
Name[sv]=Asciikvarium
Name[tr]=Asciivaryum
Name[uk]=Текстовий акваріум
Name[x-test]=xxAsciiquariumxx
Name[zh_CN]=Asciiquarium
Name[zh_TW]=Ascii 水族箱
Exec=kdeasciiquarium.kss -caption %c
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
Actions=InWindow;Root;Setup;

[Desktop Action InWindow]
Name=Display in specified window
Name[ast]=Amosar na ventana especificada
Name[bg]=Показване в избран прозорец
Name[bs]=Prikaži u određenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[ca@valencia]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[da]=Vis i angivet vindue
Name[de]=In bestimmten Fenster anzeigen
Name[el]=Εμφάνιση σε καθορισμένο παράθυρο
Name[en_GB]=Display in specified window
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Bistaratu zehaztutako lehioan
Name[fi]=Näytä määräikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[ga]=Taispeáin san fhuinneog sonraithe
Name[gl]=Mostrar na xanela indicada
Name[hne]=खास विंडो मं देखाव
Name[hr]=Prikaži u određenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=指定したウィンドウに表示
Name[kk]=Келтірілген терезеде көрсетілсін
Name[ko]=지정한 창에 보이기
Name[lt]=Rodyti nurodytame lange
Name[lv]=Rādīt norādītajā logā
Name[mk]=Прикажи во наведениот прозорец
Name[ml]=പ്രത്യേകം പറഞ്ഞിരിക്കുന്ന ജാലകത്തില്‍ പ്രദര്‍ശിപ്പിക്കുക
Name[mr]=निर्देशीत चौकटीत दर्शवा
Name[nb]=Vis i angitt vindu
Name[nds]=In angeven Finster wiesen
Name[nl]=In opgegeven venster weergeven
Name[nn]=Vis i oppgjeve vindauge
Name[pa]=ਦੱਸੀ ਵਿੰਡੋ ਵਿੱਚ ਵੇਖੋ
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na janela indicada
Name[pt_BR]=Exibir na janela indicada
Name[ro]=Afișează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Pokaži v določenem oknu
Name[sq]=Shfaqe në dritaren e specifikuar
Name[sr]=Прикажи у задатом прозору
Name[sr@ijekavian]=Прикажи у задатом прозору
Name[sr@ijekavianlatin]=Prikaži u zadatom prozoru
Name[sr@latin]=Prikaži u zadatom prozoru
Name[sv]=Visa i angivet fönster
Name[tr]=Belirtilen pencerede göster
Name[ug]=بەلگىلەنگەن كۆزنەكتە كۆرسەت
Name[uk]=Показувати у визначеному вікні
Name[x-test]=xxDisplay in specified windowxx
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
Exec=kdeasciiquarium.kss -window-id %w
NoDisplay=true

[Desktop Action Root]
Name=Display in root window
Name[ast]=Amosar na ventana raíz
Name[bg]=Показавне в главния прозорец
Name[bs]=Prikaži u korijenskom prozoru
Name[ca]=Mostra a la finestra arrel
Name[ca@valencia]=Mostra a la finestra arrel
Name[cs]=Zobrazit na pozadí plochy
Name[da]=Vis i rod-vindue
Name[de]=In Hintergrundfenster anzeigen
Name[el]=Εμφάνιση στο ριζικό παράθυρο
Name[en_GB]=Display in root window
Name[es]=Mostrar en la ventana raíz
Name[et]=Juuraknas näitamine
Name[eu]=Bistaratu erroko lehioan
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[ga]=Taispeáin sa phríomhfhuinneog
Name[gl]=Mostrar na xanela raíz
Name[hne]=रूट विंडो मं देखाव
Name[hr]=Prikaži u ishodišnom prozoru
Name[hu]=Megjelenítés a gyökérablakban
Name[is]=Birta í rótarglugganum
Name[it]=Mostra sullo sfondo
Name[ja]=ルートウィンドウに表示
Name[kk]=Түбір терезесінде көрсетілсін
Name[ko]=전체 화면으로 보이기
Name[lt]=Rodyti šakniniame lange
Name[lv]=Rādīt saknes logā
Name[mk]=Прикажи во коренскиот прозорец
Name[ml]=മൂല ജാലകത്തില്‍ പ്ര്ദര്‍ശിപ്പിക്കുക
Name[mr]=रूट चौकट मध्ये दर्शवा
Name[nb]=Vis i root-vindu
Name[nds]=In Hööftfinster wiesen
Name[nl]=In hoofdvenster weergeven
Name[nn]=Vis i rotvindauget
Name[pa]=ਰੂਟ ਵਿੰਡੋ ਵਿੱਚ ਵੇਖੋ
Name[pl]=Wyświetl w oknie głównym
Name[pt]=Mostrar na janela de fundo
Name[pt_BR]=Exibir na janela raiz
Name[ro]=Afișează în fereastra rădăcină
Name[ru]=Показывать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Pokaži v korenskem oknu
Name[sq]=Shfaqe në dritaren bazë
Name[sr]=Прикажи у кореном прозору
Name[sr@ijekavian]=Прикажи у корјеном прозору
Name[sr@ijekavianlatin]=Prikaži u korjenom prozoru
Name[sr@latin]=Prikaži u korenom prozoru
Name[sv]=Visa i rotfönstret
Name[tr]=Kök pencerede göster
Name[ug]=باش كۆزنەكتە كۆرسەت
Name[uk]=Показувати у кореневому вікні
Name[x-test]=xxDisplay in root windowxx
Name[zh_CN]=在根窗口中显示
Name[zh_TW]=在根視窗中顯示
Exec=kdeasciiquarium.kss -root
NoDisplay=true

[Desktop Action Setup]
Name=Display setup dialog
Name[ast]=Amosar el menú de configuración
Name[bg]=Прозорец за настройки
Name[bs]=Prikaži podešavajući dijalog
Name[ca]=Mostra el diàleg de configuració
Name[ca@valencia]=Mostra el diàleg de configuració
Name[cs]=Zobrazit dialog nastavení
Name[da]=Vis opsætningsdialog
Name[de]=Einrichtungsdialog anzeigen
Name[el]=Εμφάνιση διαλόγου ρύθμισης
Name[en_GB]=Display setup dialogue
Name[es]=Mostrar el diálogo de configuración
Name[et]=Seadistustedialoogi näitamine
Name[eu]=Bistaratu konfigurazioko elkarrizketa-koadroa
Name[fi]=Näytä asetusikkuna
Name[fr]=Afficher la boîte de dialogue de configuration
Name[ga]=Taispeáin dialóg shocraithe
Name[gl]=Mostrar o diálogo de configuración
Name[hne]=सेटअप गोठ देखाव
Name[hr]=Prikaži dijalog za postavke
Name[hu]=Beállítóablak
Name[is]=Sýna stillingaglugga
Name[it]=Mostra la finestra di configurazione
Name[ja]=表示設定ダイアログ
Name[kk]=Баптау диалогын көрсету
Name[ko]=설정 대화상자 보이기
Name[lt]=Ekrano nustatymų dialogas
Name[lv]=Rādīt konfigurācijas logu
Name[mk]=Прикажи дијалог за поставување
Name[ml]=ഒരുക്ക ഡയലോഗ് കാണിക്കുക
Name[nb]=Vis oppsettsdialog
Name[nds]=Instelldialoog wiesen
Name[nl]=Instellingendialoog weergeven
Name[nn]=Vis oppsettvindauge
Name[pa]=ਡਿਸਪਲੇਅ ਸੈਟਅੱਪ ਡਾਈਲਾਗ
Name[pl]=Wyświetl okno dialogowe
Name[pt]=Mostrar a janela de configuração
Name[pt_BR]=Exibe o diálogo de configurações
Name[ro]=Dialog de configurare a afișajului
Name[ru]=Показать диалог настройки
Name[sk]=Zobraziť dialóg nastavenia
Name[sl]=Prikaži okno za nastavljanje
Name[sq]=Shfaq dialogun e instalimit
Name[sr]=Прикажи дијалог за подешавање
Name[sr@ijekavian]=Прикажи дијалог за подешавање
Name[sr@ijekavianlatin]=Prikaži dijalog za podešavanje
Name[sr@latin]=Prikaži dijalog za podešavanje
Name[sv]=Visa inställningsdialogruta
Name[tr]=Ekran ayarlama penceresi
Name[uk]=Показати діалогове вікно налаштування
Name[x-test]=xxDisplay setup dialogxx
Name[zh_CN]=显示安装对话框
Name[zh_TW]=顯示設定對話框
Exec=kdeasciiquarium.kss -setup
Icon=kscreensaver
