[Desktop Entry]
Icon=camera-photo
Name=Camera Devices
Name[bs]=Camera Devices
Name[ca]=Dispositius Camera
Name[ca@valencia]=Dispositius Camera
Name[cs]=Zařízení Camera
Name[da]=Camera-enheder
Name[de]=Camera-Geräte
Name[el]=Συσκευές Camera
Name[es]=Dispositivos Camera
Name[et]=Camera seadmed
Name[fi]=Camera-laitteet
Name[fr]=Périphériques « Camera »
Name[ga]=Gléasanna Camera
Name[gl]=Dispositivos Camera
Name[hu]=Camera eszközök
Name[it]=Dispositivi Camera
Name[ko]=Camera 장치
Name[lt]=Camera įrenginiai
Name[nl]=Camera-apparaten
Name[pl]=Urządzenia Camera
Name[pt]=Dispositivos Camera
Name[pt_BR]=Dispositivos Camera
Name[ro]=Dispozitive Camera
Name[ru]=Устройства Camera
Name[sk]=Zariadenia Camera
Name[sl]=Naprave Camera
Name[sv]=Camera-enheter
Name[tr]=Camera Aygıtları
Name[uk]=Пристрої Camera
Name[x-test]=xxCamera Devicesxx
Open=false
Type=Link
URL=camera:/
