[Desktop Entry]
Icon=camera-photo
Name=Camera Devices
Name[bs]=Uređaji za kameru
Name[cs]=Kamerová zařízení
Name[da]=Kameraenheder
Name[de]=Kamerageräte
Name[el]=Συσκευές κάμερας
Name[es]=Dispositivos de cámara
Name[et]=Kaamera seadmed
Name[fi]=Kameralaitteet
Name[fr]=Appareils photo
Name[ga]=Gléasanna Ceamara
Name[gl]=Dispositivos de cámara
Name[hu]=Kamera eszközök
Name[it]=Dispositivi della fotocamera
Name[ko]=카메라 장치
Name[lt]=Kameras ierīces
Name[nl]=Camera-apparaten
Name[pl]=Aparaty fotograficzne
Name[pt]=Dispositivos de câmera
Name[pt_BR]=Dispositivos de câmera
Name[ro]=Dispozitive de cameră
Name[ru]=Устройства камеры
Name[sk]=Kamerové zariadenia
Name[sl]=Naprave za kamere
Name[sv]=Kameraenheter
Name[tr]=Kamera Cihazları
Name[uk]=Пристрої камери
Name[x-test]=xxCamera Devicesxx
Open=false
Type=Link
URL=camera:/
