[Desktop Entry]
Icon=system-lock-screen
Name=Screen Saver
Comment=Locks the screen on user switch
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kscreensaver
X-KDE-DBus-ModuleName=kscreensaver
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
OnlyShowIn=KDE;
