[Desktop Entry]
Name=LightDM KGreeter Greeter
Comment=This runs the KGreeter greeter, it should only be run from LightDM
Exec=lightdm-kgreeter-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
