[KCM Locale]
# Use this as an template for adding new countries

#Author=

#Name=
#Region=
#Languages=
#DecimalSymbol=
#ThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#DecimalPlaces=
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#WorkingWeekStartDay=
#WorkingWeekEndDay=
#WeekDayOfPray=
#PageSize=
#MeasureSystem=
#CalendarSystem=
