[Desktop Entry]
Exec=kcmshell4 kcmplayer
Icon=preferences-desktop-sound
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kmediaplayer
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=audio-and-video
X-KDE-Weight=50

Name=Media Player
Comment=Change media player options
X-KDE-Keywords=AudioVideo,Audio,Video
Categories=Qt;KDE;X-KDE-settings-sound;
